<div class="footerfixed" style="background-color: white;">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <%= link_to root_path do %>
    <i class="fa fa-paw" style="font-size:36px;"></i>
  <% end %>
</div>
