.form-list {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 40vw;
  border:0;
  background-color: rgba(241, 239, 239, 0.9);
  box-shadow:0 0 15px 4px rgba(0,0,0,0.15);
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: rgb(54, 54, 54);
}

.form-list input{

  border-radius: 10px;
  border: none;
  // box-shadow:0 0 15px 4px rgba(0,0,0,0.15);

}


.form-label {

  border-radius: 10px;
  border: none;

}

.form-btn{
  margin: 0px;
  // box-shadow:0 0 15px 4px rgba(0,0,0,0.15);
  }

  textarea.form-control {
    min-height: calc(1.5em + (0.75rem + 2px));
    border-radius: 10px;
    border: none;
    // box-shadow:0 0 15px 4px rgba(0,0,0,0.15);

  }
