.navbar-lewagon {
  justify-content: space-between;

  background: rgb(224, 223, 223);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-text {
  text-decoration: none;
  margin-right: 16px;
  color: #744343;
}
